/telco_churn_model_7k.pkl
/model_optuna_1000_l1.pkl
/model_optuna_1000_l2.pkl
/model_optuna_2000_l2.pkl
/model_optuna_2000_None.pkl
/model_optuna_500_l1.pkl
/model_optuna_500_l2.pkl
/model_optuna_500_None.pkl
/model_1000_l2.pkl
/model_1000_none.pkl
/model_2000_l1.pkl
/model_2000_l2.pkl
/model_2000_none.pkl
/model_500_l2.pkl
/model_500_none.pkl
/resampled
